.code {
  position: relative;

  overflow: auto;

  padding: 20px;
  border: 1px solid var(--primary-color);

  background-color: var(--code-bg);
}

.code-redesigned {
  position: relative;

  overflow: auto;

  padding: 20px;
  border: 1px solid var(--accent-redesigned);
  border-radius: 16px;

  background: var(--light-bg-redesigned);
}

.copy-btn {
  position: absolute;
  top: 20px;
  right: 20px;
}

.copy-icon path {
  stroke: var(--primary-color);
}