.menu {
  position: absolute;
  z-index: 1000;

  display: flex;
  flex-direction: column;

  border: 1px solid var(--primary-color);
  border-radius: 8px;

  background: var(--card-bg);
}

.item {
  cursor: pointer;

  width: 100%;
  padding: 10px 25px;
  border: none;

  color: var(--primary-color);

  background: none;
  outline: none;
}
